<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog de Viajes | <%=usuario.pseudonimo%></title> 
        <link  rel="icon"   href="../images/logo.png" type="image/png" />
        <link rel="stylesheet" href="../stylesheets/styles.css">
    </head>
    <%- include ('../partials/header_privado') %>
    <body>
        <main class="m-auto bg-dark text-light p-md-5">
            <h1>Mis publicaciones</h1>
            <hr>
            <div class="row">
                <div class="col-sm-10 m-auto">
                    <% if(mensaje && mensaje.length > 0){ %>
                    <div class="alert alert-warning mt-3"><span class="fa fa-info-circle fa-fw"></span> <%=mensaje%></div>
                    <% } %>

                    <table class="table table-light table-hover table-responsive text-center">
                        <thead class="table-warning">
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Resumen</th>
                                <th scope="col">Votos</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% publicaciones.forEach(publicacion => { %>
                            <tr>
                                <td>
                                    <%=publicacion.titulo%>
                                </td>
                                <td>
                                    <%=publicacion.resumen%>
                                </td>
                                <td>
                                    <%=publicacion.votos%>
                                </td>
                                <td>
                                    <a href="/admin/actualizar" class="btn btn-info"><i class="fa fa-pen fa-fw"></i></a>
                                    <a href="/admin/procesar_eliminar" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i></a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <hr>
                    <a class="btn btn-warning" href="/admin/agregar">Agregar publicación <i class="fa fa-plus-circle fa-fw"></i> </a>
                </div>
            </div>
        </main>

        <%- include ('../partials/footer_privado') %>
        <script src="javascripts/script.js"></script>
        <script src="javascripts/bootstrap.bundle.min.js"></script>
    </body>
</html>