<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog de Viajes | Inicio</title> 
        <link  rel="icon"   href="images/logo.png" type="image/png" />
        <link rel="stylesheet" href="stylesheets/styles.css">
    </head>
    <body>
        <%- include ('./partials/header') %>
        <main class="m-auto bg-dark text-light p-md-5">
            <div class="container-fluid">
                <img src="images/fondo.jpg" class="w-100" alt="foto de paisaje">
                <h1 class="m-2">Blog de Viajes | Inicio</h1>
                <p class="m-2">Aquí nuestras últimas publicaciones:</p>

                <div class="col-sm-6 m-auto my-3">
                    <form class="d-flex" action="/">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name='search' id="search" value="<%=busqueda%>">
                      <button class="btn btn-outline-info" type="submit">Buscar <span class="fa fa-search"></span></button>
                    </form>
                </div>

                <% if(mensaje && mensaje.length > 0){ %>
                    <div class="alert alert-warning mt-3"><span class="fa fa-info-circle fa-fw"></span> <%=mensaje%></div>
                <% } %>

                <div class="row d-flex justify-content-center">
                    <% publicaciones.forEach(function(publicacion) { %>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="card text-dark m-auto" style="width: 18rem;">
                                <img src="images/logo.png" class="card-img-top bg-dark" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title">
                                      <a href="/publicacion/<%=publicacion.publicacionid%>" class="navbar-brand text-warning">
                                          <%= publicacion.titulo %>
                                      </a>
                                    </h4>
                                    <h6>
                                      <span class="fa fa-user fa-fw"></span>
                                      <%= publicacion.pseudonimo %> - 
                                      <span class="fa fa-calendar fa-fw"></span>
                                      <%= publicacion.fecha_hora.getFullYear()%>/
                                      <%= publicacion.fecha_hora.getMonth()+1 %>/
                                      <%= publicacion.fecha_hora.getDate()%>
                                    </h6>
                                    <p class="card-text">
                                      <%= publicacion.resumen %>
                                    </p>
                                    <a href="#" class="btn btn-outline-success">
                                    <span class="fa fa-heart fa-fw"></span>  
                                    Votar
                                    <%= publicacion.votos %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="/?pagina=<%=pagina-1%>"> << Página anterior</a></li>
                  <li class="page-item"><a class="page-link" href="/?pagina=<%=pagina+1%>">Siguiente página >> </a></li>
                </ul>
              </nav>
        </main>

        <%- include ('./partials/footer') %>

        <script src="javascripts/script.js"></script>
        <script src="javascripts/bootstrap.bundle.min.js"></script>
    </body>
</html>